---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Kevin Harkins" description="About Kevin Harkins Background">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Hi! Welcome, read below to learn more about myself and my background."
			>
				<img
					width="1008"
					height="756"
					src="/assets/Kevin in Amsterdam.jpg"
					alt="Kevin Harkins Amsterdam"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Born and raised in Santiago, Chile, I had the privilege of attending the International School Nido de Aguilas 
						from K-12. There, I developed an interest for Economics, History, Math, and Sciences, earning IB certificates in each. 
						I was also active in sports, playing on the Varsity Soccer team. From a young age, I’ve been passionate about the unknown
						and problem-solving, a mindset that has taught me there is always something new to learn every day.
					</p> <br>
					<p> 
						In 2012, I left Chile to pursue a college education in the Bay Area, not knowing that San Francisco would become my home for 
						the next 13 years. While in college, I followed my passion for soccer by becoming a youth coach, volunteering to help children 
						from low-income families access city leagues. These experiences reinforced my belief in the power of community and mentorship. 
					</p> <br>	
					<p>
						With over seven years of experience in B2B SaaS environments, I specialize in client lifecycle management, product adoption, and 
						retention for Enterprise accounts across startups and global organizations, with a particular focus on U.S. and LATAM territories. 
						In my most recent role as a Client Experience Manager at Uptycs, I supported Enterprise customers in protecting their cloud 
						infrastructure, developer tools, and CI/CD pipeline processes. This role allowed me to work with cutting-edge software for 
						cybersecurity and IoT devices while collaborating with customers worldwide.
					</p> <br>
					<p> Working in the tech industry has shown me that human innovation is endless. I’m eager to embark on my next chapter, driven by 
						a passion for problem-solving and a commitment to making an impact.
					</p>
					
				
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
					<a href="https://www.sfsu.edu">San Francsico State University</a> BS International Business  <br>
					<a href="https://www.ccsf.edu">City College of San Francisco</a> AS Economics <br>
					<a href="https://www.nido.cl">International School of Nido de Aguilas</a> <br>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Certifications</h2>
				<div class="content">
					<p>
					AWS Cloud Practicionar<br>
					Azure Data Fundamentals<br>
					Azure Fundamentals<br>
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Hobbies</h2>
				<div class="content">
					<p>
					Fútbol (Soccer), Stocks, Music, SciFi, Anime, Video Games
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
